.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
	height: 400px;
  }
  .thumbnail a {
    margin-top: 15px;
    color: #555;
  }
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
.dropdown-menu li a {
    color: #000 !important;
  }
.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: red !important;
  }
.youtube-link {
	width: 400px;
	height: 300px;
}
.title-name {
	font-family: 'Myriad Pro';
	margin-top: 40px;
}
.slide-top {
	margin-top: 50px;
	height: 700px;
	width: 1450px;
}
.form-control {
	width: 250px;
}
datalist { 
  display: none;
}
.content-cat1 p{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
    padding-left:150px;
    padding-right:150px;
    
}
#output{
    margin-top:1%;
    border-radius:25px;
    font-family:'Lobster';
}

.content-cat1 h3 {
    font-size: 25px;
    background-color: antiquewhite;
    padding: 20px 0px 20px 0px;
}
    footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  
